body {
  font-family: Verdana, Geneva, sans-serif;
}

.heading {
  text-align: center;
}

.main-container {
  display: flex;
}

.flex-container {
  display: flex;
  border: .0625rem solid #555;
  padding: 1.25rem;
  margin: 1.25rem;
  width: 20%;
  border: .0625rem solid black;
  border-sizing: border-box;
}

.container-1 {
  display: flex;
  flex-wrap: nowrap;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
}

.container-3 {
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex-item {
  height: 3.125rem;
  width: 100px;
  text-align: center;
  color: #fff;
}

.item-1 {
  background-color: #2a80b9;
  text-align: center;
  color: #fff;
}

.item-2 {
  background-color: #8f44ac;
  text-align: center;
  color: #fff;
}

.item-3 {
  background-color: #15a282;
  text-align: center;
  color: #fff;
}
